name: build-pr

on:
  pull_request:
    paths-ignore:
      - '*.md'

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary-as-pr-comment: on-failure
          build-scan-publish: true
          build-scan-terms-of-use-agree: yes
          build-scan-terms-of-use-url: https://gradle.com/terms-of-service

      - name: Build
        run: ./gradlew classes --scan
      - name: Run tests
        run: ./gradlew check --scan

      - name: Upload build reports
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: build-reports
          path: '**/build/reports/'
